@model PassionProject.Models.StudentDto

@{
    ViewBag.Title = "Edit";
}

<h2>Update Student</h2>
<form action="/Student/Update/@Model.StudentID" method="POST">
    <div>
        <label>StudentID:</label>
        <label>@Model.StudentID</label>
    </div>
    <div>
        <label>Name:</label>
        <input type="text" name="StudentName" value="@Model.StudentName" /> 
    </div>
    <div>
        <label>Date of Birth:</label>
        <input type="text" name="DateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" />
    </div>
    <div>
        <label>Address:</label>
        <input type="text" name="Address" value="@Model.Address" />
    </div>
    <div>
        <label>PostalCode:</label>
        <input type="text" name="PostalCode" value="@Model.PostalCode" />
    </div>
    <div>
        <input type="submit" value="Update Student" />
    </div>
</form>

