@model PassionProject.Models.ViewModel.DetailCourse

@{
    ViewBag.Title = "Detail";
}

<a href="/Course/List">Go back to list</a>
<br />

<a href="/Course/Edit/@Model.SelectedCourse.CourseId">Update</a>
<br />
<a style="color:#ab2020;" href="/Student/DeleteConfirm/@Model.SelectedCourse.CourseId">Delete</a>
<p>Course Level: @Model.SelectedCourse.Level</p>
<p>Course Hours: @Model.SelectedCourse.Hours</p>
<p>Price: @Model.SelectedCourse.Price</p>
<p>Day: @Model.SelectedCourse.Day</p>
<p>Time: @Model.SelectedCourse.Time</p>
<p>Description: @Model.SelectedCourse.Description</p>
