@model PassionProject.Models.CourseDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>DeleteConfirm</h2>

<a href="/Course/Detail/@Model.CourseId">Cancel</a>
<p>Course Name: @Model.CourseName</p>
<p>Level: @Model.Level</p>
<p>Hours: @Model.Hours</p>
<p>Price: @Model.Price</p>
<p>Day: @Model.Day</p>
<p>Time: @Model.Time</p>
<p>Description: @Model.Description</p>

<form action="/Course/Delete/@Model.CourseId" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>